# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/
myenv/
env/
env_gpi/

# Data files
*.csv
*.xlsx
*.parquet

# Model files
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log